// Roboto
font-face {
  font-family: Roboto-Regular;
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}

font-face {
  font-family: Roboto-Bold;
  src: url(/assets/fonts/Roboto/Roboto-Bold.ttf);
}

font-face {
  font-family: Roboto-Medium;
  src: url(/assets/fonts/Roboto/Roboto-Medium.ttf);
}

// Rubik
font-face {
  font-family: Rubik-Regular;
  src: url(/assets/fonts/Rubik/Rubik-Regular.ttf);
}

font-face {
  font-family: Rubik-Medium;
  src: url(/assets/fonts/Rubik/Rubik-Medium.ttf);
}

font-face {
  font-family: Rubik-Bold;
  src: url(/assets/fonts/Rubik/Rubik-Bold.ttf);
}

font-face {
  font-family: Rubik-SemiBold;
  src: url(/assets/fonts/Rubik/Rubik-SemiBold.ttf);
}

// Nunito

font-face {
  font-family: Nunito-regular;
  src: url(/assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf);
}

font-face {
  font-family: Nunito-bold;
  src: url(/assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf);
}

font-face {
  font-family: Nunito-light;
  src: url(/assets/fonts/Nunito_Sans/NunitoSans-Light.ttf);
}



